.carousel-caption h5 {
  font-size: 50px;
  color: #efeae7;
  text-shadow: 3px 3px 3px black;
}
h5, h1{
    color: #ffc357;
}
h2{
    color: #6f4923;
}
p{
    color: #aeb5a3;
}
.card-product {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    border: 0px;
    background-color: #ffffdd;
    
}
.card{
    border: none;
}

.we-team {
    border-radius: 50%;
    width: 200px;
}
body{
    background-color: #97abb5;
}
.navbar-brand{
    color: #ffffdd;
    font-size: 25px;
    text-transform: uppercase;
}
.nav-link{
    color: white;
    text-shadow: 2px 2px 2px rgb(177, 175, 175);
}